@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscaled;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	-webkit-animation: appear 3s ease;
	animation: appear 3s ease;
	font-family: 'Roboto Mono', monospace;
	padding: 1em;
}

::selection {
	background: #000;
	color: #FFF;
	font-weight: bold;
}

.container {
	float: left;
	width: 100%;
	max-width: calc(100% - 35vw);
	height: 100%;
	padding: 1em 3em;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-bottom: 1em;
	z-index: 1;
}

a:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

a:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 20px;
	background: currentColor;
	top: 0.8em;
	transform: scale(1.1) scaleY(0.3) skew(-20deg) translateY(-26px) translateX(-8px);
	z-index: -1;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	opacity: 0.6;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin-left: 1em;
}
li:before {
	content: '› ';
}

.avatar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 400px;
	height: 400px;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -5px;
	-webkit-filter: invert(100%);
	transfrom: scale(0.8);
	overflow: hidden;
}


.avatar pre {
	font-size: 16px;
	line-height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@media (max-width: 1400px ) {
	.avatar {
		top: 0;
		right: -4em;
		bottom: inherit;
		left: inherit;
	}

	.avatar pre {
	font-size: 12px;
	line-height: 0.20em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
}
@media (max-width: 1000px ) {
	.avatar {
		top: inherit;
		right: 1em;
		bottom: 1em;
		left: inherit;
	}
	.avatar pre {
	font-size: 14px;
	line-height: 0.30em;
	}
}

@media (max-width: 768px ) {
	.avatar {
		display: none;

	}
}
footer {
	width: 100%;
	bottom: 0;
	position: absolute;
	padding: 1em 3em;
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

