@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500");
body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem; }

:root {
  --layout-size: 16px;
  --scene-color: #f0f9f9;
  --background-color: #BEEFED;
  --foreground-color: #71E;
  font-size: var(--layout-size); }
  @media (max-width: 640px) {
    :root {
      --layout-size: 20px; } }

::-moz-selection {
  background: #000;
  color: #FFF;
  font-weight: bold; }

::selection {
  background: #000;
  color: #FFF;
  font-weight: bold; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  padding: 0;
  margin: 0; }

body {
  padding: 4em;
  font-family: 'IBM Plex Mono', sans-serif;
  opacity: 0; }
  body.appear {
    opacity: 1;
    -webkit-animation: appear 2s ease;
    animation: appear 2s ease; }

body:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--foreground-color)), to(var(--background-color)));
  background: linear-gradient(to bottom right, var(--foreground-color), var(--background-color));
  opacity: 0.25;
  top: 0;
  left: 0; }

h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: var(--foreground-color); }

p {
  color: var(--foreground-color);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 2em; }

a.link {
  color: var(--foreground-color);
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  z-index: 1;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold; }

a.link:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

a.link:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  background: currentColor;
  top: 0.8em;
  -webkit-transform: scale(1.1) scaleY(0.3) skew(-20deg) translateY(-26px) translateX(-8px);
          transform: scale(1.1) scaleY(0.3) skew(-20deg) translateY(-26px) translateX(-8px);
  z-index: -1;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  opacity: 0.5; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  display: inline-block;
  margin-left: 1em; }

li:before {
  content: '› '; }

main {
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
  background: var(--scene-color);
  border: 0.5em solid var(--foreground-color);
  -webkit-box-shadow: 0 0 0 0.5em var(--scene-color);
          box-shadow: 0 0 0 0.5em var(--scene-color); }

/**
 * Header
 */
header.project-header {
  padding: 10em 2em;
  max-width: 400px;
  background: var(--background-color);
  position: relative;
  top: -2em;
  left: -2em;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
          box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  border-radius: 2px; }
  @media (min-width: 1400px) {
    header.project-header {
      top: 0;
      left: 0;
      position: absolute;
      width: 100vw;
      height: 98vh;
      max-width: 100vw;
      -webkit-transform: scale(0.92);
              transform: scale(0.92); } }
  header.project-header .brand-name {
    position: absolute;
    left: -1em;
    top: -1em;
    bottom: 0;
    width: 3em;
    margin: auto; }
    header.project-header .brand-name span {
      font-size: 1.5em;
      font-family: 'Inconsolata', sans-serif;
      font-weight: bold;
      color: var(--foreground-color);
      height: 100px;
      position: absolute;
      width: 20px;
      left: 0;
      top: 0;
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
      /* @supports (-webkit-background-clip: text) {
         background: linear-gradient(to right, var(--foreground-color), #fff);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         line-height: 2;
       }*/ }
      header.project-header .brand-name span:before {
        content: attr(data-text);
        position: absolute;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(0, 0, 0, 0.4); }
    header.project-header .brand-name span:nth-child(1) {
      -webkit-transform: rotate(2.66667deg);
              transform: rotate(2.66667deg); }
    header.project-header .brand-name span:nth-child(2) {
      -webkit-transform: rotate(15.33333deg);
              transform: rotate(15.33333deg); }
    header.project-header .brand-name span:nth-child(3) {
      -webkit-transform: rotate(28deg);
              transform: rotate(28deg); }
    header.project-header .brand-name span:nth-child(4) {
      -webkit-transform: rotate(40.66667deg);
              transform: rotate(40.66667deg); }
    header.project-header .brand-name span:nth-child(5) {
      -webkit-transform: rotate(53.33333deg);
              transform: rotate(53.33333deg); }
    header.project-header .brand-name span:nth-child(6) {
      -webkit-transform: rotate(66deg);
              transform: rotate(66deg); }
    header.project-header .brand-name span:nth-child(7) {
      -webkit-transform: rotate(78.66667deg);
              transform: rotate(78.66667deg); }
    header.project-header .brand-name span:nth-child(8) {
      -webkit-transform: rotate(91.33333deg);
              transform: rotate(91.33333deg); }
    header.project-header .brand-name span:nth-child(9) {
      -webkit-transform: rotate(104deg);
              transform: rotate(104deg); }
    header.project-header .brand-name span:nth-child(10) {
      -webkit-transform: rotate(116.66667deg);
              transform: rotate(116.66667deg); }
    header.project-header .brand-name span:nth-child(11) {
      -webkit-transform: rotate(129.33333deg);
              transform: rotate(129.33333deg); }
    header.project-header .brand-name span:nth-child(12) {
      -webkit-transform: rotate(142deg);
              transform: rotate(142deg); }
    header.project-header .brand-name span:nth-child(13) {
      -webkit-transform: rotate(154.66667deg);
              transform: rotate(154.66667deg); }
    header.project-header .brand-name span:nth-child(14) {
      -webkit-transform: rotate(167.33333deg);
              transform: rotate(167.33333deg); }
    header.project-header .brand-name span:nth-child(15) {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  header.project-header h1, header.project-header h2 {
    position: absolute;
    color: var(--foreground-color);
    /* @supports (-webkit-background-clip: text) {
       background: linear-gradient(to right, var(--foreground-color), #fff);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       line-height: 2;
     }*/ }
    header.project-header h1:before, header.project-header h2:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(0, 0, 0, 0.4); }
  header.project-header h1 {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(44%);
            transform: translateY(44%);
    font-size: 3em; }
  header.project-header h2 {
    right: 0;
    top: 50%;
    -webkit-transform: translatex(49%) translateY(-50%) rotate(-90deg);
            transform: translatex(49%) translateY(-50%) rotate(-90deg);
    font-size: 1.3em; }
    header.project-header h2 span:after {
      content: "";
      display: table;
      clear: both; }

/**
 * Section
 */
section {
  padding: 1em 1em;
  position: relative; }

/**
 * Article
 */
article {
  padding: 1em 2em;
  background: var(--background-color);
  position: relative;
  top: 2em;
  left: 2em;
  margin-bottom: 6em;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
          box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  border-radius: 2px; }
  article header {
    padding: 1em 1em;
    max-width: 400px;
    position: relative;
    top: -2em;
    left: -3em;
    background: var(--foreground-color);
    color: var(--background-color);
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.32), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
            box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.32), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 2px; }
    article header span {
      display: none; }
  article .article-link {
    position: absolute;
    bottom: -1em;
    right: -1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    margin-left: 0.5em;
    background: var(--foreground-color);
    color: var(--background-color);
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.32), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
            box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.32), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 2px;
    line-height: 1;
    font-weight: bold;
    font-family: 'Inconsolata', sans-serif;
    text-decoration: none; }
    article .article-link svg {
      width: 1.7em;
      height: 1.7em;
      vertical-align: middle;
      margin-left: 1em; }
      article .article-link svg use {
        fill: var(--background-color); }
  article ul.article-nav {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -2em;
    left: -1em;
    width: auto; }
    article ul.article-nav li {
      display: inline-block;
      padding: 0.5em 0.5em;
      margin-left: 0.5em;
      background: var(--foreground-color);
      color: var(--background-color);
      -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.32), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
              box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.32), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
      border-radius: 2px;
      line-height: 1;
      font-weight: bold;
      font-family: 'Inconsolata', sans-serif; }
    article ul.article-nav span {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      width: 1px;
      overflow: hidden;
      position: absolute !important; }
    article ul.article-nav svg {
      width: 1.7em;
      height: 1.7em;
      vertical-align: middle;
      margin-left: 1em; }
      article ul.article-nav svg use {
        fill: var(--background-color); }
  article p {
    color: var(--foreground-color);
    line-height: 24px;
    font-family: 'Inconsolata', sans-serif;
    margin-top: 0;
    margin-bottom: 2em; }

.avatar {
  position: absolute;
  top: -2em;
  right: -1.5em;
  margin: auto;
  width: 200px;
  height: 200px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -5px;
  overflow: hidden;
  color: var(--background-color);
  text-shadow: 1px 1px 0 var(--foreground-color); }

.avatar pre {
  font-size: 16px;
  line-height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4); }

footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 1em 3em; }

body.comic *:not(pre) {
  font-family: comic sans ms;
  pointer-events: none; }

body.comic:after {
  content: 'WHAT DID YOU EXPECTED?\A JOKE ON YOU \A Nah, honestly, I had some free time so I implemented this.. ';
  position: absolute;
  padding: 100px;
  background: red;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 90;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); }

.title {
  margin-bottom: 1em;
  display: inline-block; }

@media (max-width: 768px) {
  main {
    height: 90vh; }

  footer {
    text-align: center; }

  header.project-header {
    display: none; }

  body {
    font-size: calc(var(--layout-size) / 1.2); }

  body {
    padding: 0; }

  footer {
    float: left;
    position: relative;
    padding: 1em;
    width: calc(100% - 2em); } }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body.minimalistic * {
  all: initial !important; }

[class^="spacer"] {
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0; }

.spacer8 {
  height: 8px !important; }
  .spacer8\:fluid {
    height: 5px !important; }
    @media (min-width: 960px) {
      .spacer8\:fluid {
        height: 8px !important; } }

.spacer16 {
  height: 16px !important; }
  .spacer16\:fluid {
    height: 10px !important; }
    @media (min-width: 960px) {
      .spacer16\:fluid {
        height: 16px !important; } }

.spacer24 {
  height: 24px !important; }
  .spacer24\:fluid {
    height: 15px !important; }
    @media (min-width: 960px) {
      .spacer24\:fluid {
        height: 24px !important; } }

.spacer32 {
  height: 32px !important; }
  .spacer32\:fluid {
    height: 20px !important; }
    @media (min-width: 960px) {
      .spacer32\:fluid {
        height: 32px !important; } }

.spacer40 {
  height: 40px !important; }
  .spacer40\:fluid {
    height: 25px !important; }
    @media (min-width: 960px) {
      .spacer40\:fluid {
        height: 40px !important; } }

.spacer48 {
  height: 48px !important; }
  .spacer48\:fluid {
    height: 30px !important; }
    @media (min-width: 960px) {
      .spacer48\:fluid {
        height: 48px !important; } }

.spacer56 {
  height: 56px !important; }
  .spacer56\:fluid {
    height: 35px !important; }
    @media (min-width: 960px) {
      .spacer56\:fluid {
        height: 56px !important; } }

.spacer64 {
  height: 64px !important; }
  .spacer64\:fluid {
    height: 40px !important; }
    @media (min-width: 960px) {
      .spacer64\:fluid {
        height: 64px !important; } }

.spacer80 {
  height: 80px !important; }
  .spacer80\:fluid {
    height: 49px !important; }
    @media (min-width: 960px) {
      .spacer80\:fluid {
        height: 80px !important; } }

.spacer120 {
  height: 120px !important; }
  .spacer120\:fluid {
    height: 74px !important; }
    @media (min-width: 960px) {
      .spacer120\:fluid {
        height: 120px !important; } }
